/* ==========================
Color Name: Blue
Color Code: #435be0
=========================== */
.slider-bg {
	background: #435be0 none repeat scroll 0 0;
}
header .main-menu .is-sticky nav.navbar .navbar-header a.navbar-brand span {
    color: #435be0;
}

header .main-menu .is-sticky nav.navbar div.collapse ul.navbar-nav li.active a {
    color: #435be0;
}

header .main-menu .is-sticky nav.navbar div.collapse ul.navbar-nav li a:hover {
    color: #435be0;
}

.sidenav a:hover {
    color: #435be0;
}

.home .intro-text ul.home-btns li a:hover {
    color: #435be0;
}

#particles-home {
    background-color: #000;
}

.about .about-info ul.about-btn li a:hover {
    border-color: #435be0;
}

.section-header h2 span i {
    color: #435be0;
}

.services .service-block .box-header .service-icon i {
    color: #435be0;
}

.services .service-block:hover {
    background: #435be0 none repeat scroll 0 0;
    border-color: #435be0;
}

.works .works-gallery ul.work-filter li.active {
    border-color: #435be0;
}

.works .works-gallery .filtr-container .filtr-item figure figcaption {
    background: #435be0 none repeat scroll 0 0;
}

.works .works-gallery .filtr-container .filtr-item figure figcaption .work-details a:hover {
    color: #435be0;
}

.skills .skill-wrapper .skill-single .skill-bar {
    border-bottom: 3px solid #435be0;
}

.testimonial .testimonial-carousel .owl-nav .owl-prev:hover::before, .testimonial .testimonial-carousel .owl-nav .owl-next:hover::before {
    background: #435be0 none repeat scroll 0 0;
    border-color: #435be0;
}

.callto-action .cta-info {
    background: #435be0 none repeat scroll 0 0;
}

.callto-action .cta-info ul li a:hover {
    color: #435be0;
}

.blog .blog-wrapper .blog-single figure .b-post-date::before {
    border: 1px solid #435be0;
}

.blog .blog-wrapper .blog-single:hover figure .b-post-date::before {
    background: #435be0 none repeat scroll 0 0;
}

.blog .blog-wrapper .blog-single:hover figure figcaption h2 a {
    color: #435be0;
}

.blog .blog-wrapper .blog-single .blog-single-bottom .brm-btn {
    background: #435be0 none repeat scroll 0 0;
}

.blog .blog-wrapper .blog-single .blog-single-bottom {
    border-bottom: 1px solid #435be0;
}

.contact .contact-blocks .contact-info-block i {
	color: #435be0;
}

.contact form .form-group input:focus, .contact form .form-group textarea:focus {
    border-color: #435be0;
}

.contact form .form-group button {
    background: #435be0 none repeat scroll 0 0;
}

footer p i, footer p a {
    color: #435be0;
}

.home03 {
    background: rgba(0, 0, 0, 0) linear-gradient(to right bottom, #435be0, #000080) repeat scroll 0 0;
}

.home02 {
    background-color: #435be0;
}

.page-heading .page-heading-inner .page-name h2 span {
    color: #435be0;
}

.page-heading .page-heading-inner .page-name ul.breadcrumb li a {
    color: #435be0;
}

.page-heading .page-heading-inner .page-name::before {
    background: #435be0 none repeat scroll 0 0;
}

.blog-content-wrapper .blog-inner .blog-single-post .post-excerpt ul.post-meta li a {
    color: #435be0;
}

.blog-content-wrapper .blog-inner .blog-single-post .post-excerpt a.post-details-btn {
    border: 2px solid #435be0;
    color: #435be0;
}

.blog-content-wrapper .blog-inner .blog-single-post .post-excerpt a.post-details-btn:hover {
    background: #435be0 none repeat scroll 0 0;
}

.blog-content-wrapper .blog-inner .blog-pagination ul li.active a {
    border-color: #435be0;
    color: #435be0;
}

.sidebar-inner .widget.search form input:focus {
    border-color: #435be0;
}

.sidebar-inner .widget.search form button {
    background: #435be0 none repeat scroll 0 0;
    border: 2px solid #435be0;
}

.sidebar-inner .widget.recent-post ul li a:hover {
    color: #435be0;
}

.sidebar-inner .widget.categories ul li a:hover {
    color: #435be0;
}

.sidebar-inner .widget.tags ul li a:hover {
    border-color: #435be0;
    color: #435be0;
}

.blog-single-wrapper .blog-single-inner .blog-single-heading ul li a {
    color: #435be0;
}

.blog-single-wrapper .blog-single-inner .blog-comment .comments-wrapper .comment-single .author-comment h2 span {
    color: #435be0;
}

.blog-single-wrapper .blog-single-inner .blog-comment .comments-wrapper .comment-single .author-comment a:hover {
    border-color: #435be0;
    color: #435be0;
}

.blog-single-wrapper .blog-single-inner .blog-comment-form form input:focus, .blog-single-wrapper .blog-single-inner .blog-comment-form form textarea:focus {
    border-color: #435be0;
}

.blog-single-wrapper .blog-single-inner .blog-comment-form form button {
    background: #435be0 none repeat scroll 0 0;
    border: 2px solid #435be0;
}

.blog-single-wrapper .blog-single-inner .blog-comment-form form button:hover {
    color: #435be0;
}

svg {
	width: 125px;
}

span.skills {
	display: block;
}

.svg {
	width: 125px;
	height: 125px;
}

section.skill-row {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
}

figure.skill {
	width: 125px;
	margin-right: 5%;
}

figure:last-child {
	margin-right: 0%;
}

img.project-thumb {
	width: 30%;
	height: 18.6%;
}

section.works {
	min-height: 1200px;
}

section.project-text {
	width: 70%;
}

figure.project {
	display: flex;
	margin-bottom: 50px;
}

h1.project-header {
	font-size: 20px;
}

img.project-thumb {
	margin-right: 40px;
}

ul.project-links {
	display: flex;
	padding: 0;
}

ul.project-links li {
	list-style: none;
	display: inline-block;
	text-align: left;
	font-weight: bold;
}

ul.project-links li a:hover {
	color: #435be0;
	cursor: pointer;
}

a {
	color: inherit;
}

ul.project-links li:first-child {
	margin-right: 20px;
}
